[2015-03-26 13:15] ghost opened #1 "Vendor libmagic source code?"
This would be wonderful! CentOS 6,7,... / RHEL 6,7 do not provide a  source rpm for that. So the `magic.h` needs to be added manually.

[2015-03-29 19:48] kwilczynski commented on #1
@dg-ratiodata definitely! It's on my list of things to do, I will move it as priority then!

Meanwhile, did you try installing `file-devel`? If I recall correctly, it should have _libmagic_ headers.

[2015-03-30 09:32] ghost commented on #1
Oh... I looked for `file-libs-devel`. I was not aware of `file-devel`. I will try that. Thanks for the hint. :smile:

[2015-03-30 11:47] kwilczynski commented on #1
@dg-ratiodata no worries :) I hope it will work for you.

[2016-07-20 12:23] kwilczynski commented on #1
@dg-ratiodata sorry for the delay! It's been a while. I will be looking into vendoring now. It needs figuring out, since libmagic needs to be decoupled from file, so might be a bit of a manual work there to separate the two.

[2017-05-19 12:26] kwilczynski commented on #1
It has taken a while for me to find the time to look into vendoring libmagic, but I think the same approach that Nokogiri has would work here. Especially, since I need to ship patches too, as libmagic was a bit broken in the past. So, a healthy look at https://github.com/flavorjones/mini_portile makes me think, that it would be the way to go.

[2021-03-25 04:38] stanhu commented on #1
To unblock our pipelines, I did this: https://gitlab.com/gitlab-org/ruby-magic/-/merge_requests/1

It's available as https://rubygems.org/gems/ruby-magic-static at the moment, but if you're okay with vendoring in this manner, I'm happy to submit a pull request here so it can be maintained upstream.

[2021-03-25 05:36] kwilczynski commented on #1
Hi @stanhu, thank you for working on this!

I don't mind, and in the past I've been planning to add support for [mini_portile](https://github.com/flavorjones/mini_portile) similarly to how Nokogiri does it at the moment vendoring its dependencies such as e.g., libxml, libzlib, etc.

Your work in the commit [8787495974021e93adbed0a8dafc26d22629be86](https://gitlab.com/gitlab-org/ruby-magic/-/commit

[2021-03-25 05:49] stanhu commented on #1
@kwilczynski Thanks for the quick response! I submitted #3.

More context for your reading pleasure:

1. https://gitlab.com/gitlab-org/gitlab/-/issues/325851
2. https://github.com/rails/rails/issues/41750#issuecomment-805977682

[2021-03-25 06:24] kwilczynski commented on #1
Hi @stanhu, no worries!

I did seen the calamity unfolding as people were commenting and discussing a lot on Twitter. I am very sorry that this license change and then subsequent deprecation of the `mimemagic` Ruby Gem affected so many people.

I only hope that `ruby-magic` has the functionality you require, and it's reasonably trouble free for you. If there are some problems or issues, I am going

[2021-03-25 07:02] kwilczynski commented on #1
I will allow myself to mention @georgeclaghorn and @jhawthorn for visibility.

[2021-03-25 07:24] #1 closed, assigned to kwilczynski, stanhu

[2021-03-25 12:50] yorickpeterse opened #6 "Compiling fails after the introduction of https://github.com/kwilczynski/ruby-magic/pull/2"
This MR removed the following line:

[code]

On my Arch Linux installation this is now leading to the following compile error:

[code]

It seems that this change, for whatever reason, is resulting in the right headers not being found? I'm not sure yet what's going on exactly.

[2021-03-25 12:54] lupine commented on #6
I had this, and found it was caused by my ruby (installed via ruby-install) not being compiled with `--enable-shared`

Running:

[code]

was enough to generate the required libruby.so and fix linking:

[code]
(previously, I only had the `libruby-static.a`)

[2021-03-25 12:56] yorickpeterse commented on #6
Seems I have the same problem. This does make me wonder if this should be necessary in the first place. I think this is the first C extension I've come across that requires a shared Ruby library to be available.

[2021-03-25 12:59] yorickpeterse commented on #6
Arch Linux at least compiles with this option by default: https://github.com/archlinux/svntogit-packages/blob/packages/ruby/trunk/PKGBUILD. I guess it's not _too_ weird to require that, though I'm still curious as to why this Gem needs a shared library.

[2021-03-25 13:21] yorickpeterse opened #8 "Allow use of a custom mirror for the libmagic tarball"
This Gem currently downloads libmagic from a fixed known location. If a service (i.e. GitLab) does this frequently enough, it may have a negative impact on the website hosting the source code.

To handle this, being able to set a custom download URL would be an option (e.g. through an environment variable). This way one doesn't need to use a custom fork (e.g. like [this](https://gitlab.com/gitlab-

[2021-03-25 13:41] kwilczynski commented on #8
Hi @YorickPeterse, sorry for the troubles!

This is indeed a bit of a problem - previously, I relied on Travis CI cache so the tarball would have been downloaded once when I added new version.

I have uploaded the archive to an S3 bucket as per: https://github.com/kwilczynski/ruby-magic/pull/3#issuecomment-806413233

Hopefully, this will alleviate some of the issues folks are having at the moment.

[2021-03-25 13:45] yorickpeterse commented on #8
I suspect Nokogiri receives some sort of sponsoring to cover their costs. Or maybe they don't, and just take it :\

Would it be possible to simply include the tarball in the Gem itself, and download it at package time (or just have it in the repository)? Looking at [the license](https://fossies.org/linux/file/COPYING) it seems permissive enough, but I could be mistaken.

[2021-03-25 13:55] kwilczynski commented on #6
Hi @YorickPeterse, apologies for issues!

I need to have a closer look. I am able to build it on macOS and on Linux machine running Debian. It also seems fine when building on Ubuntu provided by Travis CI.

This is surprising, as I would expect issues with `libmagic` in terms of building and linking against, rather than with Ruby.

I personally use `rbenv` with `ruby-install` to manage newer (or m

[2021-03-25 13:57] yorickpeterse commented on #8
FYI at GitLab we'll see if we can take a look at the legal implications of including the library into the Gem. Not sure how long it would take to get some insight into this, but I'll update this issue when I know more :smile:

[2021-03-25 13:59] kwilczynski commented on #8
Hi @YorickPeterse, that would be OK.

I had a look at the license and it seems it would be OK. Even though it's a proprietary license, it seems very permissive, indeed, and given that `libmagic` and `file` (as utility) is quite ever-present, then I would wager it would be OK.

We can always ask @zoulasc (Christos is the current maintainer and also a very nice person) whether he would be OK with it

[2021-03-25 14:02] yorickpeterse commented on #8
GitLab issue where we are discussing this: https://gitlab.com/gitlab-com/legal-and-compliance/-/issues/453

[2021-03-26 04:40] erikh commented on #6
[code]

Seems to work here.

[2021-03-26 04:44] stanhu commented on #6
`ruby-magic` doesn't need a shared library, but getting the Ruby C extension to link against a static `libmagic` requires getting all the linker flags right via `pkg-config`. I attempted to do this in https://github.com/kwilczynski/ruby-magic/pull/5, but struggled to get it to work. I may do a deeper dive to figure this out.

[2021-03-26 13:31] yorickpeterse commented on #8
Per https://gitlab.com/gitlab-com/legal-and-compliance/-/issues/453#note_538677900 it should be fine to include the source code in this repository, removing the need for downloading it entirely.

[2021-03-26 13:31] yorickpeterse commented on #8
cc @stanhu

[2021-03-26 17:25] zoulasc commented on #8
I don't have a problem with it as long you keep the license that comes with it. Remember there is not such thing as a free lunch: by making a copy you are now responsible for keeping the copy up-to-date..

[2021-03-26 18:59] stanhu commented on #6
#5 is coming along and statically links `libmagic`, but it still appears to build a `magic.so` for me. I've noticed that even Nokogiri builds a `.so`. Ruby, at least on my system.

Ruby does appear to have support for compiling a gem as a static library: https://github.com/ruby/ruby/blob/cc8e966e3c8b44dd946c4c50cc8d172e1d45e625/lib/mkmf.rb#L2495-L2497. I'm not sure the conditions this is enabled.

[2021-03-31 08:40] kwilczynski commented on #8
Hi @zoulasc,

Thank you!

I have also added a long overdue copyright and license notice to the `NOTICE` file, see: [NOTICE#L468-L505](https://github.com/kwilczynski/ruby-magic/blob/main/NOTICE#L468-L505).

Krzysztof

[2021-03-31 09:04] kwilczynski commented on #6
Hi @YorickPeterse,

With https://github.com/kwilczynski/ruby-magic/pull/5 now merged (thank you again @stanhu for all the work), do you still have issues building and/or installing? If you have a moment, would you be able to check again?

Thank you in advance!

Krzysztof

[2021-03-31 12:06] yorickpeterse commented on #6
@kwilczynski Using the latest `master` commit, it seems a Ruby installation with support for shared libraries is still required. I think this is mostly fine though, as this option seems to be widely enabled by default anyway.

[2021-04-02 16:29] stanhu commented on #6
It looks like docker-gitlab also needed to add `--enabled-shared`: https://github.com/genshen/docker-gitlab/commit/c187b46525244126bb55c4ef94e1975e7278f9be. I wonder why.

[2021-04-02 18:07] stanhu commented on #6
I replicated the problem by compiling a Ruby interpreter without `--enabled-shared`.

I'm not sure why the linker is requiring these `rb_` symbols to be statically linked. With `nokogiri`, the `.o` looks to be in a similar state:

[code]

The compilation step looks similar:

[code]

ruby-magic has a few more items:

[code]

Here's the compile step failing in `ruby-magic`:

[code]

[2021-04-02 18:38] stanhu commented on #6
Attempting to add `-lruby-static` also fails:

[code]

The presence of `-shared` though suggests to me that we can't make a shared object, so I'm a little puzzled why `nokogiri` compiles without a hitch.

[2021-04-02 20:09] kwilczynski commented on #6
Hi @stanhu,

The culprit here most likely will be the `-Wl,--no-undefined` linker option, as per the undefined symbols reported by `objdump`. This flag would cause linker to disallow any symbols that are unknown at linking time. It's meant to catch potential issues, but sometimes - like in this case too - can cause troubles.

We add it here:

https://github.com/kwilczynski/ruby-magic/blob/b8ffc70a

[2021-04-02 20:14] stanhu commented on #6
Ah, thanks, I confirmed that fixes the problem. Can we just drop those lines?

[2021-04-02 20:43] kwilczynski commented on #6
Hi @stanhu,

We certainly can. I would imagine all the symbols are there and things will resolve when `dlopen()` loads our shared object.

Krzysztof

[2021-04-02 20:46] #6 closed, assigned to stanhu

[2021-04-02 20:47] kwilczynski commented on #6
Hi @stanhu,

Thank you for digging into this problem and fixing it!

Krzysztof

[2021-04-02 22:43] stanhu commented on #8
I see a couple of directions we could go here that might improve the reliability of builds:

1. Improve `mini_portile2` to retry with alternative mirrors.
2. Vendor `libmagic` with the source files, not the `.tar.gz`.
3. Use a `git submodule` against the GitHub mirror of https://github.com/file/file.
4. Use a release tag from https://github.com/file/file/releases/.
5. Build native gems.

I like th

[2021-04-05 08:52] kwilczynski commented on #8
Hi @stanhu,

Thank you for laying out all the possible options!

I am with you on the (3). We could aim to solve (1) and (5), and I am pro (5) too. I know that Nokogiri gets a some of complaints for being distributed as native Ruby Gem, but for most of its users this is no longer an issue, I suppose.

The (2), (3) and (4) are somewhat similar - distribute `libmagic` as part our code base, correct?

[2021-04-05 10:50] pluff opened #14 "Extension compilation fails on Mac +RVM because of `sed` command failure"
While building native extensions `ruby-magic` fails while compiling docs.

###  Failing command:
[code]
### Failure reason:
MAGIC path contains `@` sign in the path and sed thinks it's a delimiter for regexp. RVM uses `@` sign for marking gemsets

### Possible solutions

1. Escape path `@` sign before passing to sed expression
2. Use different delimiter e.g. `|`

### Full log output:

[code]

[2021-04-05 12:11] kwilczynski commented on #14
Hi @pluff, thank you for letting us know, and sorry for the issues!

Good catch! And thank you for detailed issue report! Much appreciated.

I need to look into this, especially how to sensibly fix this, since this is within the `libmagic` we rely on. Aside of the list of suggestions you provided (thank you!), perhaps there is a way to pass a flag to autotools so that the manual pages et al are si

[2021-04-05 12:23] pluff commented on #14
@kwilczynski thanks for quick reply! Temporary workaround with separate libmagic installation works 👍

[2021-04-05 12:26] kwilczynski commented on #14
Hi @pluff,

I am glad it worked fine!

Krzysztof

[2021-04-05 17:09] eregon opened #15 "TravisCI did not run recently"
See https://travis-ci.com/github/kwilczynski/ruby-magic/builds

https://travis-ci.com/github/kwilczynski/ruby-magic/requests shows:

So I guess TravisCI is really not supporting OSS anymore with such limited build time (I see the same for my TravisCI account).

I think most people migrate to GitHub Actions because it's unrestricted, faster, more reliable and better integrated.

[2021-04-05 17:11] kwilczynski commented on #14
A simple yet crude solution to the problem here would be to not build tests, documentation and the Python bindings. We could add a simple patch to be applied to the vendored `libmagic` at build time, for example:

[code]

Technically, we don't need to run tests or build anything else aside, thus removing the extra sub-directories might not be a bad idea in the end.

[2021-04-05 17:19] kwilczynski commented on #15
Hi @eregon,

Indeed! Sincere apologies :( I sadly can't afford to pay for the commercial plan :( $70 per month is unfortunately outside of my financial reach.

I wish Travis CI continued the offer support for Open Source (and public) projects. I mailed their support raising a question about this, but sadly haven't got any response as of yet - don't expect any, actually. Well, such is their preroga

[2021-04-05 17:25] eregon commented on #15
I don't know much about GitLab CI, but since this project is on GitHub I'd expect GitHub Actions to be better integrated.
Of course I'm biased since I maintain https://github.com/ruby/setup-ruby :)

[2021-04-06 08:41] kwilczynski commented on #8
Hi @stanhu,

I've been also thinking, that eventually, we'd need to support vendoring some of the `libmagic` dependencies like `zlib`, `liblzma`, etc., (see [gitlab-org/ruby-magic/-/merge_requests/1#note_537310311](https://gitlab.com/gitlab-org/ruby-magic/-/merge_requests/1#note_537310311)) to make sure that we are completely not depending on what the underlying operating system provides.

In whic

[2021-04-06 17:10] kwilczynski commented on #14
Hi @pluff,

I added two changes:

- https://github.com/kwilczynski/ruby-magic/commit/f6615fe2f8f7f867a9e4675cf98045e10299e5cd
- https://github.com/kwilczynski/ruby-magic/commit/1fde33140546ebed2718b8e777e558a5bf946857

That I believe would solve this issue in a simple manner - at the moment `libmagic` does not offer an option (which would be useful) to opt-out from building tests, documentation (m

[2021-04-07 07:59] kwilczynski commented on #8
Hi @YorickPeterse,

As per the conversation above, if we keep the extension to be build as native Ruby Gem, and provide a way to override both the download URL and SHA256 checksum at build time, would that be acceptable?

I am not sure how open @flavorjones would to be changing how the download works in `mini_portile`. However, I found this in the past https://github.com/flavorjones/mini_portile/i

[2021-04-07 08:56] yorickpeterse commented on #8
@kwilczynski That's also fine. I do think vendoring more dependencies, such as zlib, might not be needed. These dependencies tend to be widely available and provide a stable API, so using the system version should be fine.

[2021-04-07 11:44] flavorjones commented on #8
:wave: Nokogiri maintainer and mini_portile2 maintainer here.

Gem installation doesn't download libxml2 or libxslt -- we package the tarballs in the gem file.

Please let me know if/how I can help. I'm absolutely open to improving mini_portile and would be willing to pair on problem definition or solution.

[2021-04-07 17:27] kwilczynski commented on #8
Hi @flavorjones, nice to have you here!

Thank you for creating and maintaining `mini_portile2` and `Nokogiri`! Both are indispensable!

Ah! I didn't think about this approach! That is very clever and also allows for `mini_portile2` to do its work without issues.

After you mentioned this, I had a look around and found this: [rakelib/extensions.rake#L172-L181](https://github.com/sparklemotion/noko

[2021-04-07 17:56] flavorjones commented on #8
@kwilczynski Thanks for providing this context.

I'd be open to mini_portile supporting multiple mirrors; but honestly my advice to you is that you should avoid relying on mirrors at gem-installation time. They'll always be flaky and/or throttle your users, which will result in unhappy users and unactionable support requests.

I would recommend _first_ try packaging your dependencies into the gem

[2021-04-07 20:38] kwilczynski commented on #8
Hi @flavorjones,

[...]

This is a very good point, and the premise that @YorickPeterse held too, and I also agree. I want the users of this Ruby Gem to have the best experience possible.

Definitely looks like the way to go. What is your release process for `Nokogiri`?

We might move to the `dependencies.yml` similarly to what `Nokogiri` is using to track everything in a single place.

Seems like

[2021-04-08 15:02] kwilczynski commented on #8
Hello everyone!

A small update. I think this conversation here has somewhat good timing, especially about how to distribute `libmagic` sensible.

We most definitely have to start bundling the tarball as part of the Ruby Gem, and perhaps start building native Ruby Gems sooner, as currently the project is using the S3 bucket I have set up some time ago, and the cost is already over $20 in transfer

[2021-04-08 17:53] flavorjones commented on #8
@kwilczynski I've submitted a PR at #16 to include the tarball in the gemfile. Let me know what you think?

[2021-04-08 20:25] stanhu commented on #8
Thanks @flavorjones! This problem should be gone now. I've released v0.4.0 that now includes the `.tar.gz`. Notice the size increase:

![image](https://user-images.githubusercontent.com/963826/114090994-f6d55c80-986c-11eb-9a37-d00ba165877e.png)

[2021-04-08 20:25] #8 closed, assigned to flavorjones

[2021-04-08 20:26] stanhu commented on #14
@kwilczynski Thanks for the fixes! This should be fixed with v0.4.0.

[2021-04-09 10:24] splattael opened #18 "CHANGELOG.md is outdated"
:wave: I've noticed that the https://github.com/kwilczynski/ruby-magic/blob/main/CHANGELOG.md wasn't updated since `v0.2.0`.

Is there a way of automating the creation of this file?

Alternatively, it could be useful to create a PR template for releasing a new version where updating the CHANGELOG.md could be one of many bullet points to be checked off? :thinking:

[2021-04-09 11:37] kwilczynski commented on #15
Hello everyone,

A small update.

Despite reaching out to Travis CI many times via the `support@travis-ci.com` and on Twitter, they never responded, so we are going to be moving away from them completely.

It's a sad day, as Travis CI used to be to go-to platform for Open Source projects.

Krzysztof

[2021-04-09 14:45] stanhu commented on #18
@kwilczynski What do you think about using https://github.com/github-changelog-generator/github-changelog-generator?

[2021-04-09 15:33] kwilczynski commented on #18
Hello @splattael,

We don't have anything automated at the moment which is not the best user experience, indeed. Sincere apologies!

Krzysztof

[2021-04-09 15:37] kwilczynski commented on #18
Hi @stanhu,

Looks good! I like there is a Rake task too.

The changelog format I keep updated manually in the past was that of [Keep a Changelog](https://keepachangelog.com/) too, so this project you suggested would hopefully just work for us.

Having said that, I need to manually update the changelog between `0.2.0` and `0.3.0` releases - as I have most of the context of what happened there and

[2021-04-09 17:40] eregon commented on #15
Yes, this seems to happen to many people still using TravisCI recently it seems:
https://twitter.com/smarr/status/1380195827591876612
https://twitter.com/sh0dan/status/1380555125714997253

Maybe they reduced open-source credits or so significantly? (and before that it was very long queue time which means quite a few projects migrated already).

[2021-04-09 18:05] kwilczynski commented on #15
Hi @eregon,

Oh I see! Not good...

I am not sure. I never heard back from them. I assume Open Source is no longer their (or the new owner, rather) concern.

Krzysztof

[2021-04-09 19:36] stanhu commented on #15
GitLab Ci seems to be working well: https://gitlab.com/stanhu/ruby-magic/-/pipelines/284133549 😄

[2021-04-12 03:59] stanhu commented on #15
The only catch is that GitLab CI uses a Webhook to trigger new commits, but since I don't have access here to install a WebHook the CI runs only as often as the pull mirror updates.

[2021-04-17 19:22] kwilczynski commented on #15
Hi @stanhu, sorry for the delay!

I am happy to move to GitLab CI, and set whatever webhook would be needed. No problem! Let me know what would need to be done and I will see it done.

Interestingly, since I have personal account, you can't manage my repository (sorry about that), but if this would be an organisation or a paid account, then you could be added with enough permission to change anyth

[2021-04-17 19:36] kwilczynski commented on #15
Hello everyone,

A update on Travis CI.

I've noticed that Travis CI added/replenished some of the free credits eventually, albeit they are about to run out shortly anyway. I find out when I got an e-mail about failed job from Travis CI.

We are definitely still on the lookout for new CI place, and @stanhu probably found us one on GitLab.

Krzysztof

[2021-04-17 20:40] kwilczynski commented on #15
Hello,

I wanted to add, that @erikh also offered help setting up and using [tinyCI](https://tinyci.org/), to remain vendor agnostic.

Krzysztof

[2021-04-21 16:05] flavorjones commented on #15
FWIW I'm in the process of moving some of my other projects to Github Actions, my experience with it has been good so far.

[2021-04-21 16:24] kwilczynski commented on #15
Hi @flavorjones,

I saw it! I am following your work on Nokogiri and GitHub actions closely, and I also think this would work for us, especially since this project is also so much simpler.

Krzysztof

[2021-09-04 18:35] jacargentina opened #21 "Error with ruby-magic 0.4.0"
On gitlab project, when trying to run Puma, I get this error:

[code]

Any advice?

[2021-09-04 19:17] jacargentina commented on #21
I've found something `lib/magic/magic.so` was not here
I've copied it manually from `ext/magic/magic.so` in place, and now it works.
What could it be the problem?

[2021-09-04 20:06] kwilczynski commented on #21
Hi @jacargentina,

Sorry that you are having issues!

While I don't know much about how GitLab uses Puma, and generally don't know much about how GitLab was put together (as I don't work on the project and/or for GitLab), I can definitely have a look at my Ruby Gem.

Question: when you install `ruby-magic` Gem manually (same version, of course) under the same Ruby you run GitLab on (unless it's an

[2021-09-04 20:08] kwilczynski commented on #21
Also, I would like to mention @stanhu here, as he actually works on GitLab, and perhaps would have some insight faster than me trying to reproduce this on my own.

[2021-09-04 23:08] stanhu commented on #21
It looks like you are installing GitLab from source, and this gem isn't properly compiled and installed. Have you tried running `gem pristine ruby-magic`?

[2021-09-05 02:33] jacargentina commented on #21
@stanhu since I've made it work by copying the .so file, I 've not done any other testing.

What I can say, is I've tried from 3 to 5 times by doing the `bundle install` with a previous cleaning of the gems inside `vendor/`

[2021-09-05 06:18] stanhu commented on #21
Not sure what's going on here. I feel like if this were a systemic issue we would have seen many complaints from source installs months ago. `lib/magic/magic.so` is present on every dev environment I have. I'd be curious to see the `mkmf.log` if it errored out.

[2021-09-05 14:34] kwilczynski commented on #21
Hi,

@stanhu, thank you for looking into this! I appreciate it.

I can't reproduce this locally. Everything installs correctly. Thus, we need to get more details from @jacargentina about this environment, otherwise it's hard to try to reproduce what is going on.

Krzysztof

[2021-09-05 16:42] jacargentina commented on #21
@kwilczynski I'm not a ruby / gems/ bundler expert, so I can help with some instructions

I've done this, in order to reproduce the specific ruby-magic gem installation:

[code]

This re-installs ruby-magic, with its .so file not being copied where it belongs. By I can't find any `mkmf.log`; there is some way to generate some logging from that last `bundle install` ?

[2021-09-30 19:35] boone opened #22 "Reconciling mini_portile2 version with Nokogiri"
Hi, I'm working on a project and want to include both Nokogiri and ruby-magic. I get this error from bundler:

[code]

I was able to solve this for myself by forking this project and updating it to use mini_portile2 2.6.1: https://github.com/boone/ruby-magic/commit/730c26504c4a99a9c1d58e4b8ac4f98eb7b40045

I'm happy to submit a PR from that, but it seems that Nokogiri's `main` is already using min

[2021-09-30 19:47] stanhu commented on #22
Could we just relax the version requirement to be `~> 2.6`?

[2021-09-30 21:02] boone commented on #22
@stanh that might work, but I'm not sure of the actual version needs for either project. The [mini_portile2 changelog](https://github.com/flavorjones/mini_portile/blob/main/CHANGELOG.md) does not have a lot of changes, so it seems reasonable.

[2021-09-30 21:08] stanhu commented on #22
@boone Yeah, let's just revise it to  "~> 2.6" then. I should hope CI should catch any build issues.

[2021-09-30 21:58] #22 closed, assigned to nobody

[2021-09-30 22:12] stanhu commented on #22
Strangely, Rubygems is not allowing me to push:

[code]

[2021-10-01 02:12] stanhu commented on #22
@flavorjones Have you seen this before? I'm wondering if something relating to native gems might be confusing RubyGems.

[2021-10-01 02:30] flavorjones commented on #22
Heya, I think it's safe to pin mini_portile to `~> 2.6` or some other version, if you're not taking advantage of a new feature.

I haven't seen that error before. Have you done sanity checks on the generated gemfile? Does `file` tell you it's a "POSIX tar archive"? And if so, can you crack it open and see the contained gzipped files?

[2021-10-01 02:40] stanhu commented on #22
Yeah, the gem installs just fine locally, and it's a valid `.tar` file:

[code]

[2021-10-01 03:35] kwilczynski commented on #22
Hi @stanhu,

I published a new version on your behalf. Hopefully everything will work fine, as per:

[code]

Krzysztof

[2021-10-01 03:38] stanhu commented on #22
@kwilczynski Thanks! I wonder what was wrong on my end. I tried it on two different systems.

[2021-10-01 03:49] kwilczynski commented on #22
Hi @stanhu,

My pleasure! Thank your for updating the dependencies! Much appreciated as always.

Your systems are macOS, correct? (it would hardly be a problem, of course) This is what I use:

[code]

This is a simple virtual machine I am using as my "workstation" for development and such. There isn't anything special about it.

Krzysztof

[2021-10-01 13:32] boone commented on #22
Thanks everyone!

[2021-10-01 14:07] kwilczynski commented on #22
Hi @boone,

You are welcome! I am sorry you had some issues initially! If you need anything else, do let us know, we would be happy to help.

Having said that, I am curious what project you are working on which uses this little project - is this something you can share?

Krzysztof

[2021-10-01 19:08] stanhu commented on #22
@kwilczynski I actually tried on both macOS and Linux machines and got the same result. It worked in the past.

[2021-10-02 02:19] kwilczynski commented on #22
Hi @stanhu ,

That is very odd indeed! Especially since the gem installed locally. Any problems with some proxies you have set? Any version mismatches? I assume that as per usual you are up-to-date.

I wonder if there is a way to enable some sort of a debug output during push.

Krzysztof

[2021-11-03 20:38] lucaskanashiro opened #25 "Test failure in Debian"
After importing version `0.5.0` to Debian, we got the following test failure:

[code]

I noticed this [commit](https://github.com/kwilczynski/ruby-magic/commit/00bee15c2eda1e135b3743ff21d6bf027386b1c9) made a change to this test, and before that there is this [discussion](https://github.com/kwilczynski/ruby-magic/pull/5#issuecomment-808686480) in this PR about this very same issue. It seems it is

[2021-11-03 20:54] kwilczynski commented on #25
Hi @lucaskanashiro,

Sorry for troubles you are having!

How are you building this Gem on Debian? Are you building it using the bundled `libmagic` or linking against the system-wide one?

Krzysztof

[2021-11-03 21:04] lucaskanashiro commented on #25
Hi @kwilczynski ,

Thanks for the very quick response, appreciated! Per the Debian Policy, we need to build against `libmagic` installed from the system, coming from the Debian archive.

[2021-11-03 22:39] kwilczynski commented on #25
Hi @lucaskanashiro,

Sorry for the delay!

I spun a Debian 11 minimal installation in a virtual machine to test and attempt to reproduce the problem, but sadly I can't seem to stumble into the same problem with the test failing. Everything I used was installed from the main repositories (no Ruby version manager of any sort was used), so that `Ruby` and `libmagic` are as shipping with Debian at the

[2021-11-03 22:57] lucaskanashiro commented on #25
Thanks for trying this out, but with our tooling to build ruby gems it is failing, look at the logs of our CI pipeline:

https://salsa.debian.org/ruby-team/ruby-ruby-magic-static/-/jobs/2138963

I'd tell you to test with Debian unstable and also use the source package we have staged in our Gitlab instance. With the steps below you will be able to reproduce the failure that I mentioned using docker

[2021-11-03 23:29] kwilczynski commented on #25
Hi @lucaskanashiro,

[...]

Thank you for sending this over! This is very helpful, and from looking through the logs I can see that you aren't building the Gem against system-wide installation of `libmagic`, as per:

https://salsa.debian.org/ruby-team/ruby-ruby-magic-static/-/jobs/2138963#L1397

Excerpt from the build log:

[code]

This is because of the following:

https://salsa.debian.org/ruby-t

[2021-11-03 23:47] lucaskanashiro commented on #25
@kwilczynski thank you! Renaming the variable in `debian/rules` fixed the issue indeed. Sorry for bothering you with that. And thanks again for the support here.

[2021-11-03 23:47] #25 closed, assigned to kwilczynski

[2021-11-04 00:00] kwilczynski commented on #25
Hi @lucaskanashiro,

Not a problem! Bother all you want in the future - I am here to help.

Thank you for working on packaging this Gem! Having said that, I had a look at how it's being build, and I believe that you don't need this patch:

https://salsa.debian.org/ruby-team/ruby-ruby-magic-static/-/blob/master/debian/patches/do-not-use-rpath.patch

When you are building using system-wide libraries

[2021-11-04 00:06] kwilczynski commented on #25
Hi @lucaskanashiro,

Forgive me, just one more question: why does the Debian package have the `-static` suffix? Is this mainly because of how the repository was originally named when @stanhu worked on it and a GitLab fix, or because you folks are building it against statically built Ruby and such?

Krzysztof

[2021-11-04 11:04] dleidert commented on #25
@kwilczynski, answering on behalf of the Debian team: I think this has historical reasons and we need to change the package name. Other distros have renamed it already.

[2021-11-04 11:48] kwilczynski commented on #25
Hi @dleidert,

Thank you for getting in touch! I see, no worries than! What do you think about some of the other questions above?

Also, let me know if you need anything updated, changed, fixed... to make your and Debian's team life easier. And thank you again for taking the time to package this Gem! I appreciate it!

By the way, I had a peek at the `control` file and I wonder if the package ought

[2021-11-04 14:20] lucaskanashiro commented on #25
@kwilczynski I checked the first two patches you mentioned and I agree they are not needed anymore, I removed them in the git repository and this change will land in the next upload to the Debian archive:

https://salsa.debian.org/ruby-team/ruby-ruby-magic-static/-/commit/6d5772f80603b16bd7cbadf783957c38eddaff4d

Regarding the third [patch](https://salsa.debian.org/ruby-team/ruby-ruby-magic-static

[2021-11-04 23:13] stanhu commented on #25
I see that @pravi filed https://gitlab.com/gitlab-org/ruby-magic/-/issues/3. The `to_s` was needed because `pkg_config('libmagic', 'libs --static')` returned nothing, which it seems to be on my Ubuntu 20.04 system:

[code]

This could happen if `pkg-config` didn't find the `.pc` file. Maybe we should keep this `to_s` in case?

[2021-11-04 23:21] stanhu commented on #25
On the other hand, we shouldn't be getting a blank entry if we're extracted the tarball and pointed to the path specifically. Perhaps https://gitlab.com/gitlab-org/ruby-magic/-/issues/3 is outdated now.

[2021-11-05 21:21] kwilczynski commented on #25
Hi @lucaskanashiro,

Thank you for all the details and apologies for late reply!

[...]

Ah, OK. I need to look into this. Perhaps `require_relative` is not needed there and can be replaced.

Oh! Nice!

OK. Makes sense, since you are also building `libmagic` that the Gem will use.

Thank you again for getting back to me with the answers and for packaging the Gem!

Krzysztof

[2021-11-05 21:31] kwilczynski commented on #25
Hi @stanhu,

I appreciate you looked into this! Thank you!

[...]

[...]

Just doing simple installation I wasn't able to reproduce this with the way how our installation is now working. We can, however, play it safe, so to speak, and either just turn it into a string (as per the change done by @pravi), or perhaps even issue a warning about being unable to resolve build dependencies using `pkg-con

[2021-11-05 21:34] stanhu commented on #25
@kwilczynski As I said in https://gitlab.com/gitlab-org/ruby-magic/-/issues/3#note_724465221, I realized that if `pkg-config` is returning empty values, the static library compilation should fail since the requisite libraries aren't there. I don't know how this worked if that were happening.

[2021-11-05 22:22] kwilczynski commented on #25
Hi @stanhu,

Ah, sorry! I haven't seen your comment on GitLab, apologies. And indeed, this would have broke quite some time ago for us, or other uses (excluding Debian folks).

OK. Nothing to do here then, and we can fix this should this be a problem ever again.

Thank you!

Krzysztof

[2021-11-11 00:03] stanhu commented on #25
I actually ran into this problem while testing ruby-magic on another platform. The issue in my case was that `pkg-config` was not installed, so the `pkg_config` in `extconf.rb` failed to return any output.

We might want to consider what Nokogiri does: https://github.com/sparklemotion/nokogiri/blob/3814fdff251b0f6d07fe9ab4992c1896ab7b4ead/ext/nokogiri/extconf.rb#L220-L251

Alternatively, we could

[2021-11-11 00:35] kwilczynski commented on #25
Hi @stanhu,

Ah not good! But a good thing you confirmed this being an issue. I apologise for the troubles!

We can try, indeed. I also hope that @flavorjones won't mind us borrowing some more of his excellent work!

That would be the "Plan B", so to speak, if adopting the solution used by Nokogiri will prove to be problematic.

Krzysztof

[2021-11-13 03:36] kwilczynski commented on #21
Hello @jacargentina,

I sincerely apologise for a very late reply! Are you still having issues?

[...]

I have attempted to reproduce this issue from scratch using a Debian 11 virtual machine and installing GitLab using source repository like you. I haven't actually completed an entire installation, only focusing on installing required Ruby gems. Sadly, my attempt was unsuccessful (I was unable to

[2021-11-25 15:14] kwilczynski commented on #21
Hi @jacargentina,

Do you still need any help with this? It's been two weeks since my last message.

Krzysztof

[2021-11-25 16:46] jacargentina commented on #21
No time to try again, sorry. U can close.

[2021-11-27 05:55] #21 closed, assigned to kwilczynski

[2021-12-21 18:51] f6p commented on #21
For whatever its worth it wont move **magic.so** to **lib** on Fedora (34). Current version and all previous tags for whose tarball is accessible behave the same way (fail to do so).

The bug is still valid and happens every single time for me.

[2021-12-21 19:09] flavorjones commented on #21
Ah, I know what this is -- see https://github.com/sparklemotion/nokogiri/issues/2300 for a description of what's going on and how to fix it. I'll submit a PR now.

[2021-12-21 19:14] flavorjones commented on #21
See #27

[2021-12-21 19:34] f6p commented on #21
Thanks, works great now.

Cheers
🍷

[2021-12-22 11:06] kwilczynski commented on #21
Hi @f6p,

Sorry for late reply!

Thank you for letting us know and sorry troubles, and big **_THANK YOU_** to @flavorjones for a quick fix!

[2021-12-22 15:23] stanhu commented on #21
Released in ruby-magic v0.5.3.

[2022-01-12 12:16] toupeira opened #28 "Build fails due to S3 error"
The build currently fails with this error:

[code]

Apparently it's trying to download https://ruby-magic.s3.nl-ams.scw.cloud/file-5.39.tar.gz, which returns an SSL `PR_END_OF_FILE_ERROR` error in Firefox (same on the root domain https://ruby-magic.s3.nl-ams.scw.cloud/).

Is this a temporary issue with S3, or maybe some kind of configuration error?

As a workaround I was able to build the gem usin

[2022-01-12 12:27] kwilczynski commented on #28
Hi @toupeira,

Sorry for the issues! Let me check what is going on. I'd hope that Scaleway (one of the mirrors, and this particular one) wouldn't cause an issue. Bear with me.

Krzysztof

[2022-01-12 12:49] kwilczynski commented on #28
Hi @toupeira,

I had a look, and it seems to be fine. I see an increase in traffic, most likely due to update of dependencies in GitLab, however, I sadly don't have a lot of visibility into potential issues as there is next-to-nothing in terms of logging available on Scaleway (or I can't find it).

![Screenshot from 2022-01-12 13-35-03](https://user-images.githubusercontent.com/250723/149143302-71

[2022-01-12 12:56] toupeira commented on #28
@kwilczynski thanks for checking! I do get the problem continuously, but I tried it on a different machine now and there it works, because it's connecting to a different IP:

[code]

On the machine where it's failing it's resolving the hostname to `195.186.208.193`, so I guess that mirror is having problems.

[2022-01-12 13:30] kwilczynski commented on #28
Hi @toupeira,

Thank you for looking into this some more! I appreciate that.

I did a quick DNS resolution test and if Scaleway, indeed, did some DNS cur-over/change, then it seems that a lot of places already expired their cache as per:

![Screenshot 2022-01-12 at 14-24-16 DNS Checker - DNS Check Propagation Tool](https://user-images.githubusercontent.com/250723/149149191-d6b4cd7a-08ce-4630-bffd-

[2022-01-12 14:00] toupeira commented on #28
Aahhh.... Swisscom is my ISP, so now I tried loading http://195.186.208.193/ directly (without HTTPS) and see this:

![image](https://user-images.githubusercontent.com/6501/149154004-52d29027-e01f-4ebc-a862-4612befed749.png)

I keep forgetting that they have this blocker since I rarely run into it :sweat_smile: I reported this as a false positive now and hope it will be resolved soon, and if not I

[2022-01-12 14:00] #28 closed, assigned to kwilczynski

[2022-01-12 16:16] kwilczynski commented on #28
Hi @toupeira,

Ah nice find! Admittedly, I haven't tried HTTP while doing some cursory look, sorry about that 😅

I am glad everything worked out in the end! Let me know if you need anything else. I hope you are going to enjoy new GitLab release.

Krzysztof

[2022-01-12 16:40] toupeira commented on #28
No worries, thanks again! :grinning:

[2022-01-13 14:20] pluff commented on #14
@stanhu @kwilczynski this issue is back with `ruby-magic-0.5.3`

[code]

[This workaround](https://github.com/kwilczynski/ruby-magic/issues/14#issuecomment-813363063) still works so just for you to be  aware of the problem

[2022-01-13 15:32] flavorjones opened #29 "Native support for Ruby 3.1"
I started working on adding native (precompiled) support for Ruby 3.1. Unfortunately it appears that Ruby 3.1 introduced a change that breaks how we use `mkmf`'s `pkg_config` method, so I'm creating this issue to make that issue visible.

In summary, ruby-magic's extconf.rb was relying on the ability to pass multiple flags:

https://github.com/kwilczynski/ruby-magic/blob/f1a875bfdf0f6f78d1a337879f

[2022-01-13 15:40] flavorjones commented on #29
Note that #30 takes the approached mentioned last above, passing just `--libs` to pkg-config and hardcoding `-lz`.

[2022-01-13 17:41] flavorjones commented on #29
I'm working on a PR to send upstream to Ruby for mkmf pkg-config support.

[2022-01-13 17:57] stanhu commented on #14
Somehow the `doc` and `tests` folders are still being built. I'm not seeing the patch being applied. This is what I see in my `bundle exec rake compile` output:

[code]

@pluff Would you be able to check your `/Users/shutin/.rvm/gems/ruby-2.7.5@gitlab-ee/gems/ruby-magic-0.5.3/patches/libmagic` directory to see if there are any files? I wonder if `PACKAGE_ROOT_DIR` is not right because of `rvm`.

I

[2022-01-13 18:00] stanhu commented on #29
Thanks @flavorjones! That seems like the right approach. I don't see a way to inject multiple arguments now.

[2022-01-13 19:33] kwilczynski commented on #14
Hi @pluff,

Thank you for re-opening this and sorry for troubles!

Let me check if the patch gets applied correctly and, if not, then I will devise a different fix. Bear with me!

@stanhu thank you for diving into this! Much appreciated!

Krzysztof

[2022-01-13 19:43] flavorjones commented on #29
See upstream PR at https://github.com/ruby/ruby/pull/5436. If that goes green I'll open a new issue at https://bugs.ruby-lang.org/ for review.

[2022-01-13 20:43] kwilczynski commented on #29
Hi @flavorjones,

Thank you for the heads up! And for working towards a fix (both here and in the upstream Ruby). I really appreciate that!

@stanhu thank you for looking into this!

I had a brief look a the `pkg-config` Ruby Gem, however, it does not offer what we need here.

[2022-01-14 14:53] flavorjones commented on #29
PR submitted upstream at https://bugs.ruby-lang.org/issues/18490

[2022-01-21 00:54] kwilczynski commented on #14
Hi @pluff,

Sorry for the late reply!

After having a closer look, I noticed that one of our Rake tasks, namely the **build** task coming from Bundler (see: [bundler/lib/bundler/gem_helper.rb#L86-L95)](https://github.com/rubygems/rubygems/blob/master/bundler/lib/bundler/gem_helper.rb#L86-L95)) does not properly handle the additional dependencies that are otherwise needed when installing the Ruby G

[2022-01-21 00:56] stanhu commented on #14
Oh, sorry about that. I doubt we can simply replace the files. It should be easy enough to update the version GitLab is using.

[2022-01-21 01:16] kwilczynski commented on #14
Hi @stanhu,

No worries! I should have noticed that something was afoot with the Gem size. I also need to think of testing everything under RVM in the future, plus I will see how to address this properly on the `libmagic` side so that we can disable documentation and Python bindings from being built using an appropriate switch passed to autotools. The same goes for building and running tests (whic

[2022-01-24 23:44] stanhu commented on #14
@kwilczynski Not hard. Could you release a new version? `bundle exec rake gem` and `gem build ruby-magic.gemspec` don't seem to be building the package with the .tar.gz.

[2022-01-27 12:39] xperseguers commented on #28
Hi there, I have the exact same problem trying to upgrade my GitLab instance.

I could successfully manually install `ruby-magic` (compiling it with `--use-system-library`) locally but each time I run

[code]

it fails with:

[code]

I tried to manually download `file-5.39.tar.gz` and place it at the location it is searched for but it looks like everything is cleared again prior to trying to insta

[2022-01-27 12:53] toupeira commented on #28
@xperseguers I see your SSL error is different:

[code]

Mine was caused by my ISP responding with HTTP to a HTTPS request:

[code]

Maybe one of the Scaleway mirrors does indeed have an expired certificate? /cc @kwilczynski

You could also check what the hostname `ruby-magic.s3.nl-ams.scw.cloud` resolves to, it should be an IP with a WHOIS record from Scaleway (`163.172.208.8` in my case).

[2022-01-27 15:13] xperseguers commented on #28
Indeed:

[code]

[2022-01-27 16:02] toupeira commented on #28
@xperseguers ah interesting, you get the same IP but I don't get a certificate error here (both with `curl` and Firefox).

Maybe there's an issue with the root certificates in your system? Looks like you're on Debian too, check if your `ca-certificates` package is up to date. You can also see more details about the certificate error with `openssl s_client -connect ruby-magic.s3.nl-ams.scw.cloud:44

[2022-01-27 16:49] xperseguers commented on #28
@toupeira looks OK and my system is kept up-to-date, but could it be related to that I still somehow have that damn old Let's Encrypt root certificate?

[code]

[2022-01-27 17:01] xperseguers commented on #28
That was it! I manually removed the X3 root certificate I still had on my system, run `/usr/sbin/update-ca-certificates` and it now works fine. Thanks for the help.

[2022-01-27 17:03] toupeira commented on #28
Yay, glad you got it sorted out too! :grinning:

[2022-01-27 17:14] kwilczynski commented on #28
Hi @toupeira and @xperseguers,

Sorry for troubles and for late response!

Also, **_THANK YOU_**, (both of you) for getting to the bottom of this!

**A bit of a backstory:**

I moved the archive files to Scaleway as their S3 compatible storage option is quite affordable. I used to host files mirrored on the actual AWS' S3, however, after getting a substantial bill once after a major release of Git

[2022-01-27 20:58] stanhu commented on #28
@kwilczynski I think we just need to get the bundled `.tar.gz` working. Do you know how we can release a version with this?

Then we can look at moving the mirror to Cloudflare R2 so that it will be free.

[2022-01-28 00:22] kwilczynski commented on #28
Hi @stanhu,

Released [0.5.4](https://rubygems.org/gems/ruby-magic/versions/0.5.4). To release it, I simply did `bundle exec rake package`, and the correct Gem file was created. The only thing I had to do, was to remove content of the `pkg` sub-directory, otherwise if there was a matching version inside already, then it would stubbornly refuse to build it correctly (the directory containing an ent

[2022-01-28 00:24] kwilczynski commented on #14
Hi @stanhu,

Done! As per https://github.com/kwilczynski/ruby-magic/issues/28#issuecomment-1023763179. This version contains patches and the `libmagic` source code bundled correctly. It should, hopefully, be OK for you to bump it on the GitLab's side.

Krzysztof

[2022-01-28 08:47] stanhu commented on #28
@kwilczynski Thanks! I think we should document that `bundle exec rake package` works because I tried `bundle exec rake gem` and `bundle exec rake build`, neither of which worked. 😄

Upgrade to 0.5.4 is here: https://gitlab.com/gitlab-org/gitlab/-/merge_requests/79388

Yeah, I think there's a waitlist: https://www.cloudflare.com/r2-storage/

[2022-01-29 17:01] flavorjones commented on #29
The upstream PR has been merged into 3.2.0.dev / ruby head. I've updated #32 to only monkeypatch Ruby 3.1.x.

[2022-02-09 01:25] stanhu commented on #28
@kwilczynski We just tagged a GitLab release using ruby-magic v0.5.4. I'm curious if the bandwidth charts drop off like a rock now. 😄

[2022-02-09 02:56] kwilczynski commented on #28
Hi @stanhu,

Very nice!

The bandwidth usage did, indeed, go down as per:

![Screenshot from 2022-02-09 03-54-56](https://user-images.githubusercontent.com/250723/153113327-8d1abe65-ef6a-4ff8-b342-507c0832cc49.png)

Well done! Thank you!

Krzysztof

[2022-02-22 14:27] #29 closed, assigned to flavorjones, kwilczynski, stanhu

[2022-07-20 07:17] kwilczynski commented on #14
Hi @pluff, I am going to close this issue.

Hopefully, it will not manifest itself again. That said, I updated the libmagic version to [5.42](https://github.com/kwilczynski/ruby-magic/commit/f5ee7a4dcb646ab803b91fdaeeea723dd5e66002) in the upcoming release and also made sure that the vendored patch we apply is up-to-date.

That said, I need to work with the upstream project to see if there is a be

[2022-07-20 07:18] #14 closed, assigned to kwilczynski, stanhu